<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            Tiny App
        </a>
        <% if (username == undefined || username == "") { %>
        <form class="form-inline" action="/login" style="padding: 10px; margin-left: 100px;" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="username" name="username">
            <button type="submit" class="btn btn-default">Login</button>
          </div>
        </form>
        <% } else if (username !== '') { %>
          <p><%= username %></p>
          <form method="POST" action="/logout">
          <input type="submit" value="Logout" class="btn" />
          </form>
        <% } %>
        <ul class="nav navbar-nav">
        </ul>
    </div>
</div>
</nav>