<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head %>
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= shortURL %></h1>
        <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:0px;">
        <input id="longURL" type="text" name="longURL" placeholder="<%= URL[shortURL] %>" style="width: 300px">
        <input type="submit" value="Update">
        </form>
    </div>
    <div>
      <a>SHORTEN URL</a>
    </div>
</main>

<footer>
    <% include ../partials/_footer %>
</footer>

</body>
</html>