<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head %>
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>

<main>
    <div class="jumbotron">
        <h1>URL's</h1>
        <ul class="list-group" style="list-style: none;">
          <% for (const prop in urls) { %>
            <li>

              <form action="/urls/<%= [prop] %>">
                <b><%= urls[prop] %></b> is shortened to <b><%= [prop] %></b>
                <input type="submit" value="Edit" class=".btn-link" />
              </form>
              <form method="POST" action="/urls/<%= [prop] %>/delete">
                <input type="submit" value="Delete" class="btn" />
              </form>

            </li>

          <% } %>
        </ul>
    </div>
    <div>
      <div>
        <form action="/urls/new">
            <input type="submit" value="Create a New Short Link" class="btn" />
        </form>
    </div>
    </div>
</main>

<footer>
    <% include ../partials/_footer %>
</footer>

</body>
</html>